@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #e4e9f7;
}
.top h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    margin-top: 40px;
}
.iqac{
    background-color: #0056b3;
    color: rgb(255, 255, 255);
}
.mar{
    display: flex;
    align-items: center;
}
.mar #changeMarqueeBtn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.marquee{
    margin-right: 10px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.box{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.box1{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-right:10px;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.box1-2{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-right:10px;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}


.box2{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-right:10px;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}


.box3{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
    width: 350px;
    height: 365px;
}
.form-box img{
    margin-left: 43%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-box h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}
.form-box header{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box label{
    font-size: 13px;
}
.form-box form .input input{
    height: 30px;
    width: 100%;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(76,6,182,0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px;
    font-size: 13px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.bottom{
    text-align: center;
    margin-bottom:10px;
    font-size: 16px;
}
.bottom .back{
    border: 1px solid blue;
}
